<div class="container">
    <div class="row">
        <div class="col-lg-7 form-feild">
            <h2>Recruiter Feedback</h2>
            <form action="">
                <div class="form-group">
                    <label for="my-textarea"><h5>Please write your Feedback</h5></label>
                    <textarea id="my-textarea" class="form-control" name="" minlength="20" required></textarea>
                </div>

            <div class="row d-flex justify-content-center">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5" required><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                  </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                </div>
            </div>
            </form>
        </div>
        
    </div>

</div>