
<div class="container-fluid bg-orange">
    <div class="container ">
        <div class="row d-flex justify-content-between p-3">

            <div class="col-md-4 align-self-center addrs-location">
                <h3>Reach Out Us</h3>
                <p>
                    HCL Technologies <br>
                    Sozhinganallur, Chennai, <br>
                    Tamilnadu 6200025 <br> India.
                </p>

                <p>
                    Website : <a href="#">https://hcltech.com</a> <br>
                    Email : <a href="mailto:hclindia@hcl.com">hclindia@hcl.com</a> <br>
                    Phone : <a href="callto:">5431-3658-36</a>
                </p>
            </div>

            <div class="col-md-2 align-self-center text-center p-4">
                <ul class="social-media-icons mr-5">
                    <li><a href="" class="fb"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="" class="insta"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="" class="yt"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="" class="tw"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 align-self-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31112.423699441213!2d80.18820451616705!3d12.904316000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525c70fbe5dd47%3A0x7b104c8723a30c05!2sHCL%20Technologies%20Ltd.!5e0!3m2!1sen!2sin!4v1658512885952!5m2!1sen!2sin"></iframe>
                  </div>
            </div>

        </div>
    </div>
</div>
