<!--================ Section 1 starts Here ================-->

<!--Background Image-->
<div class="container-fluid home-sec-1 d-flex align-items-center ">
     
    <!--Adding Form Elements-->
        <div class="container home-search">
            <form action="">
                <div class="row ml-xl-4 ml-lg-4">

                    <div class="col-md-6 input-field">
                        <input type="text" placeholder="Job Name / Company / Skills" class="form-control" required> <i class="fa-solid fa-keyboard"></i>
                    </div>

                    <div class="col-md-4 input-field">
                        <input type="text" placeholder="Location" class="form-control" required> <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <div class="col-md-1 input-field input-feild-btn">
                        <button type="submit" class="btn btn-block" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                </div>

                <div class="row">
                    <div class="col h4 mt-5 text-center ">
                        <a href="" class="job-ctgry">Browse Job Categories</a>
                    </div>
                </div>
                
            </form>
           
        </div>

 </div>

 <!--================ Section 1 ends Here ================-->


<!--========= Popular Recruiter Section Starts Here ===========-->
    <div class="container recruiter-logo">
        <h3 class="text-center">Popular Recruiters</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><img src="./assets/Images/HCL-Logo.png" alt="" class="img-fluid"></td>
                    <td><img src="./assets/Images/Paytm-logo.png" alt="" class="img-fluid"></td>
                    <td><img src="./assets/Images/Zomato-Logo.png" alt="" class="img-fluid"></td>
                    <td><img src="./assets/Images/Swiggy-logo.png" alt="" class="img-fluid"></td>
                    <td><img src="./assets/Images/cred-logo.png" alt="" class="img-fluid"></td>
                </tr>
            </table>
        </div>
    </div>

<!--========= Popular Recruiter Section Ends Here ===========-->


<!--========= Job Departments Section Starts Here ===========-->
    <div class="container job-departments">
        <h3 class="text-center">Available Departments</h3>
        <div class="row d-flex justify-content-around text-center ">

            <div class="col-lg-2 col-md-5 col-sm-12 ">
                <i class="fa-solid fa-chart-line "></i>
                <p>Accounts / Finance</p>
                <span>250</span>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-graduation-cap"></i>
                <p>Education / Training</p>
                <span>414</span>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-bezier-curve"></i>
                <p>Design / Arts</p>
                <span>670</span>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-users"></i>
                <p>Human Resoruce</p>
                <span>220</span>
            </div>
        </div>

        <div class="row d-flex justify-content-around  text-center ">
            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-utensils"></i>
                <p>Food / Restaurant</p>
                <span>420</span>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-heart-pulse"></i>
                <p>Medical / Health Care</p>
                <span>150</span>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-headset"></i>
                <p>Telecommunication</p>
                <span>340</span>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <i class="fa-solid fa-helmet-safety"></i>
                <p>Construction</p>
                <span>732</span>
            </div>
        </div>
    </div>

<!--========= Job Departments Section Ends Here ===========-->



 <!--================ Home Count Section Starts Here =================-->

 <div class="container-fluid bg-sky-blue">
    <div class="container home-count">
        <div class="row">
            <div class="col-md-4 count-item">1000+ <br> Candidates</div>
            <div class="col-md-4 count-item">300+ <br> Recruiters</div>
            <div class="col-md-4 count-item" style="border:none ;">3000+ <br> Vacancies</div>
        </div>
    </div>
</div>

<!--================ Home Count Section Ends Here ====================-->


<!--========= Feedback Section Starts Here ===========-->
    <div class="container-fluid feedback-section">
        <div class="container ">
            <div class="row">      
                <div class="col-lg-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                          <li data-target="#demo" data-slide-to="3"></li>
                        </ul>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="./assets/Images/Slider1.jpg" alt="" width="100%" height="500">
                            <div class="carousel-caption">
                              <h3>Complete Your Gradudation</h3>
                            </div>   
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/Images/Slider2.jpeg" alt="" width="100%" height="500">
                            <div class="carousel-caption">
                              <h3>Attend The Interview</h3>
                            </div>   
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/Images/Slider3.jpg" alt="" width="100%" height="500">
                            <div class="carousel-caption">
                              <h3 class="text-dark font-weight-bold">Get Hired</h3>
                            </div>   
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/Images/Slider4.jpg" alt="" width="100%" height="500">
                            <div class="carousel-caption">
                              <h2 class="text-dark font-weight-bold">Do Your Job Well</h2>
                            </div>   
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>


<!--========= Feedback Section Ends Here ===========-->

<app-register-section></app-register-section>

<app-address></app-address>



