
<!--===========Home Register Section Starts Here ===============-->
<div class="container-fluid home-register">
    <div class="container">
       <div class="row d-flex p-5 justify-content-between ">

           <div class="col-md-4 align-self-center">
               <p>
                   Find Your Cubical <br>
                   In Two Clicks <br>
                   Get Registered <br>
                   Get Hired 
               </p>
           </div>

           <div class="col-md-3 align-self-end home-rgstr-btn">
               <a href="" routerLink="/register"><button class="btn btn-info ">Register Now <i class="fa-solid fa-arrow-right"></i></button></a>
           </div>

           <div class="col-md-4 align-self-end mt-3">
               <img src="./assets/Images/Landing-Register-Now.jpg" alt="Registation Image" class="img-fluid">
           </div>

       </div>
    </div>
</div>


<!--=========== Home Register Section Ends Here ===============-->


