<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid d-flex align-items-end contact-bg">
        <div class="container">
            <h2 class="h1 heading text-blue">
                CONTACT US
            </h2>
        </div>
    </div>
    
        <!--Form section-->  
        <div class="container pt-5 contact-content">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-sm-10 contact-form-sec ">
                    <form action="">
                        <h6>CONTACT FORM</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="" id="" placeholder="Name" class="form-control">
                            </div>
    
                            <div class="col-md-6">
                                <input type="email" name="" id="" placeholder="Email" class="form-control">
                            </div>
    
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="" id="" placeholder="Subject" class="form-control">
                            </div>
    
                            <div class="col-12 form-message">
                                <textarea name="" id="" class="form-control" placeholder="Your Message" style="height:120px;"></textarea>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-info">Send Message</button>
                            </div>
                        </div>
    
    
                    </form>
                </div>
    
            <!--Address Information-->    
    
                <div class="col-lg-5 col-sm-10 contact-adrs-sec card ml-lg-4">
                    <h6>CONTACT ADDRESS</h6>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <i class="fa-solid fa-location-dot" style="padding:10px 13px;"></i>
                                <b> Main Office : </b> HCL Technologies, Sozhinganallur, <br> Chennai,
                                Tamilnadu 600025, India.
                            </p>
                        </div>
    
                        <div class="col-12">
                            <p>
                                <i class="fa-solid fa-envelope"></i>
                                <b> Customer Support : </b> <a href="mailto:">info@hcl.com </a> <br> <b>Technical Support :</b> <a href="mailto:"> support@hcl.com </a>
                            </p>
                        </div>
    
                        <div class="col-12">
                            <p>
                                <i class="fa-solid fa-phone"></i>
                                <b> Main Office : </b> <a href="tel:">5341-3658-36</a>  <br> <b>Customer Support :</b> <a href="tel:">5341-5836-63</a>
                            </p>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
        <!--Map Section-->
    
    <div class="container-fluid">
        <div class="embed-responsive embed-responsive-21by9 contact-map">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31112.423699441213!2d80.18820451616705!3d12.904316000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525c70fbe5dd47%3A0x7b104c8723a30c05!2sHCL%20Technologies%20Ltd.!5e0!3m2!1sen!2sin!4v1658512885952!5m2!1sen!2sin"></iframe>
          </div>
    </div>
    
    
    
</body>
</html>