

<!-- bg-blue class has created manually in style.css file  --->

<nav class="navbar navbar-expand-md bg-blue fixed-top">
  <div class="container">
      <a class="navbar-brand " href="#">
          <img src="src\assets\Images\logo.png" height="30px" width="auto" alt="">
      </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span ><i class="fa-solid fa-bars"></i></span>
      </button>
      
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

  <!-- navigation-link class has created manually in main-navigation.css file  --->

        <ul class="navbar-nav ml-auto" >
          <li class="nav-item">
            <a class="nav-link navigation-link active" href="#" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navigation-link" href="#" routerLink="about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navigation-link" href="#" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link navigation-link" href="#" routerLink="register" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navigation-link" href="#" routerLink="login" routerLinkActive="active">Login</a>
            </li>
        </ul>
      </div>
  </div>
  </nav>    
