.nav-link{
    margin:0 10px;
    padding-left: 15px;
}

.navigation-link{
    font-size:22px;
    font-family: arial;
    color: #fff;
}

.navigation-link:hover{
    background-color:#db8f14;
    color:black;
    transition: all 0.5s;  
}

i{
    color:white;
}

i:hover{
    color:#db8f14;
}