<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--============= About intro section starts here ============-->

<div class="container about-intro ">
    <div class="row d-flex justify-content-between p-3">
        <div class="col-lg-6">
            <h4>About Hireup.com</h4>
            <p>
                HireUp.com isis the most innovative online job portal in India. Founded in 2022 by RunTime Error.  The popularity of the portal is evident from the fact that it has crossed the 3.4 crore candidate landmark and has more than 3 lakh latest job vacancies from leading companies on the site.
            </p>
            <p>    
                HireUp.com connects jobseekers and recruiters by accurately matching candidate profiles to the relevant job openings through an advanced  technology. While most job portals only focus on getting candidates the next job, HireUp.com focuses on the entire career growth of candidates. 
            </p>

            <a href=""><button class="btn btn-info">Learn More</button></a>
        </div>
        <div class="col-lg-5 mt-sm-3">
            <img src="./assets/Images/About-bg.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<!--============= About intro section ends here ============-->


<!--============= How it works section starts here ============-->
<div class="container how-it-works">
    <h2>How It Works?</h2>

    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <p class="text-center mt-lg-3 mt-sm-1">HireUp.com collects the job seekers details and the job requirement details from the candidate and recruiters respectively .Our advanced technology matches the requirements of both recruiter and candidate and help them their dream job in just two clicks  </p>
        </div>
    </div>

    <div class="row d-flex text-center">
        <div class="col-lg-4">
            <div class="steps">
                <p><i class="fa-solid fa-user"></i></p>

                <h4> Create an Account</h4>

                <p>
                  Create your account in simple steps if ypu are a candidate looking for job click on I am a candidate in registration page and enter all the required details.If your recruiter searching for candidates click on I am a recruiter on registration page and enter all the details required. 
                </p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="steps">
                <p><i class="fa-solid fa-magnifying-glass"></i></p>

                <h4>Search Job</h4>

                <p>
                    HireUp.com provides a large number of job roles in Well known companies of india . You can find many job roles suitable for you to work.
                </p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="steps">
                <p><i class="fa-solid fa-trophy"></i></p>

                <h4> Apply</h4>

                <p>
                   After finding a suitable job role  just click on the apply button and recruiter will know about your profile .
                </p>
            </div>
        </div>
    </div>
</div>



<!--============= How it works section ends here ============-->


<!--=============== Meet Our Team Starts Here ===================-->

<section class=" container team-members"> 

    <h3 class="text-center font-weight-bold">Meet Our Team Members</h3>
    <h4 class="text-center">RunTime Terror</h4>
    <!--First three Members-->
    <div class="container our-team mt-5">
    
        <div class="row d-flex justify-content-center first-line">

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Varshini.png" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Varshini</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Chandana1.png" alt="Card image" style="width:100%;height:auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Siri Chandana</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Kashish1.png" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Kashish Khan</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>
        </div>
</div>

<!--Four Members-->

<div class="container our-team">
         
         <div class="row d-flex justify-content-end second-line mt-5">

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Surjeet.png" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Surjeet Yadhav</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Karthik.png" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Cikuveri Karthik</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid" src="./assets/Images/Abhishek1.png" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Abhishek Gupta</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card" style="width:70%">
                    <img class="card-img-top img-fluid " src="./assets/Images/Siril.jpg" alt="Card image" style="width:100%;height: auto;">
                    <div class="card-body text-center">
                      <h5 class="card-title font-weight-bold">Siril Richard</h5>
                      <p class="card-text">Full Stack Developer</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=============== Meet Our Team Ends Here===================-->
<br><br>

<app-register-section></app-register-section>

<app-address></app-address>
</body>
</html>