<div class="side-navidation">
    <ul class="nav sidenav flex-column">
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-dashboard" routerLinkActive="active" ><i class="fa-solid fa-gauge"></i> Candidate Dashboard</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-search-jobs" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass"></i> Search Jobs</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-applied-jobs" routerLinkActive="active"><i class="fa-solid fa-file-signature"></i> Applied Jobs</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-matched-jobs" routerLinkActive="active"><i class="fa-solid fa-equals"></i> Matched Jobs</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-shortlisted-jobs" routerLinkActive="active"><i class="fa-solid fa-handshake"></i> Short Listed Jobs</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/candidate-feedback" routerLinkActive="active"><i class="fa-solid fa-comment-dots"></i> Feedback</a></li>
    </ul>
</div>